# Core Libraries
numpy
pandas
scipy

# Environment Variables Management
python-dotenv

# Data Processing and Analysis
scikit-learn
statsmodels

# Time Series Analysis
ruptures

# Visualization
matplotlib
plotly

# Databases and Query Parsing
pyodbc
sqlparse
neo4j

# Semantic Web
rdflib

# Natural Language Processing and AI
openai
langchain

# Other
ast
re

